@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-neutral-800 bg-neutral-50 dark:bg-neutral-900 dark:text-neutral-100 transition-colors duration-200;
  }
}